<div class="botones">
  <button class="btn">Tequila</button>
  <button class="btn">Whisky</button>
  <button class="btn">Ron</button>
  <button class="btn">Vodka</button>
  <button class="btn">Ginebra</button>
  <button class="btn">Brandy</button>
  <button class="btn">Coñac</button>
  <button class="btn">Otros</button>
  <button class="btnAudit" (click)="openDialog()">Iniciar Auditoria</button>
</div>
<div class="">
  <table class="card-table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Peso Actual</th>
        <th>Oz. Aproximadas</th>
        <th>Botellas en barra</th>
        <th>Fecha ult Actualizacion</th>
        <th>Oz consumidas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let barAudit of barAudits; let i = index" [class.impar-fondo]="i % 2 !== 0" [class.par-fondo]="i % 2 === 0">
        <td>{{barAudit?.BarBottle?.Bottle?.Name}}</td>
        <td>{{barAudit?.ActualWeight}}</td>
        <td>{{convertirAOz(((barAudit?.ActualWeight-barAudit?.BarBottle?.Bottle?.EmptyBottleWeight*barAudit?.BarBottle?.NumOfBottles)*barAudit?.BarBottle?.Bottle?.DensityInLiters))}}</td>
        <td>{{barAudit?.BarBottle?.NumOfBottles}}</td>
        <td>{{ barAudit?.UpdatedAt | date:'yyyy-MM-dd HH:mm' }}</td>
        <td>{{convertirAOz((barAudit.LastWeight - (barAudit.ActualWeight > barAudit?.BarBottle?.Bottle?.EmptyBottleWeight ? barAudit.ActualWeight : barAudit?.BarBottle?.Bottle?.EmptyBottleWeight))*barAudit.BarBottle?.Bottle?.DensityInLiters)}}</td>
      </tr>
    </tbody>
  </table>
</div>