.btn{
  width: 6.75rem;
  height: 2.125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.00);
  margin-left: 2rem;
}
.btnAudit{
  width: 13.0625rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  background: #AB094D;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 2rem;
}
