<div class="principal">
    <div class="header">
      Nueva Barra
      <p class="close-modal" (click)="closeModal()">X</p>
    </div>
    <div class="body">
        <form (submit)="onSubmit()">
            <p class="name">Nombre</p>
            <div class="formulario">
                <input class="barname" [(ngModel)]="newBarName" name="barName" placeholder="Nombre de la barra" required>
                <input class="checkbar" [(ngModel)]="newChecked" name="checked" type="checkbox">
            </div>
            <button class="newbar" type="submit">Agregar</button>
        </form>
    </div>
  </div>