<div id="navbar">

  <div id="inicio">
    <h1 id="text">{{getPageTitle()}}</h1>
  </div>

  <div id="botones">
      <div class="col-ml-2">
        <button class="boton" (click)="myBar()">Botellas</button>
      </div> 
      <div class="col-ml-2">
        <button class="boton" (click)="audit()">Auditoría</button>
      </div>
        <button class="boton" (click)="reports()">Reportes</button>
      <div class="col-ml-2">
        <button class="boton" (click)="managers()">Encargados</button>
      </div>
      <div class="col-ml-2">
        <button class="boton" (click)="configuration()">Configuración</button>
      </div>
  </div>
</div>
