<div class="botones">
  <button type="button" class="btn btn-outline-dark">Tequila</button>
  <button type="button" class="btn btn-outline-dark">Whisky</button>
  <button type="button" class="btn btn-outline-dark">Ron</button>
  <button type="button" class="btn btn-outline-dark">Vodka</button>
  <button type="button" class="btn btn-outline-dark">Ginebra</button>
  <button type="button" class="btn btn-outline-dark">Brandy</button>
  <button type="button" class="btn btn-outline-dark">Coñac</button>
  <button type="button" class="btn btn-outline-dark">Otros</button>
</div>



<div class="card col" *ngFor="let BarBottleYBotella of barBottlesYBotella">
  <div class="barraHorizontal">
    <div style="height: 100%;" class="disponible" [ngStyle]="
        {'width': calcularDecimalDeDisponible(BarBottleYBotella)*100+'%'}
      "></div>
    <div style="height: 100%;" class="noDisponible" [ngStyle]="
      {'width': (1-calcularDecimalDeDisponible(BarBottleYBotella))*100+'%'}
    "></div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <p class="botellatxt">{{BarBottleYBotella.bottle.Name}}</p>
        <div style="display: flex;">
          <div class="textos col-6">
            <p class="textonza">DISPONIBLE EN BARRA</p>
            <p class="onzinput">{{convertirAOzString(BarBottleYBotella.bottle.DensityInLiters*(BarBottleYBotella.barBottle.CurrentWeight-BarBottleYBotella.bottle.EmptyBottleWeight*BarBottleYBotella.barBottle.NumOfBottles))}}</p>
          </div>
          <div class="grafica col-8" style="max-width: 200;">
            <p>Disponible</p>
            <p class="onzinput">{{(calcularDecimalDeDisponible(BarBottleYBotella)*100).toFixed(2)}}%</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <p class="textnum">{{BarBottleYBotella.barBottle.NumOfBottles}}</p>
        <img class="img" [src]="'https://barinspector.com/api/bottle/'+BarBottleYBotella.bottle.Id+'/getimagen'" alt="botellon">
        <button class="btnml">{{convertirAOzString(BarBottleYBotella.bottle.Presentacion)}}, {{(BarBottleYBotella.bottle.Presentacion)*1000}}ml</button>
      </div>
    </div>
  </div>
</div>





<button class="add" (click)="agregar()">+</button>
