.card {
  width: 32%;
  height: 16.4375rem;
  flex-shrink: 0;
  margin-top: 2rem;
  margin-left: .5rem;
  position: relative;
  border-radius: 1.875rem;
  border: 1px solid #C9C9C9;
  background: #4B4540;
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;


  backdrop-filter: blur(5px) saturate(173%);
  -webkit-backdrop-filter: blur(5px) saturate(173%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  border: 1px solid #4b454049;
}
.barraHorizontal{
  position: absolute; 
  height: 100%; 
  width: 100%;
  display: flex;
}
.disponible {
  background: transparent;
  background: linear-gradient(90deg, rgba(238, 255, 249, 0.096) 0%, rgba(173, 238, 216, 0.35) 100%);
}

.noDisponible {
  background: transparent;
  background: linear-gradient(90deg, rgba(255, 105, 97, 0.35) 0%, rgba(255, 105, 97, 0) 100%);
}
@media(min-with:1200px){
  .card{
    width: 25.3125rem;
    height: 10.25rem;
  }
}

.grafica{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  font-size: x-large;
  font-family: "ubuntu";
}

.btn{
  margin-top: 1pc;
  margin-left: 3pc;
  width: 6.75rem;
  height: 2.15rem;
  flex-shrink: 0;
  border-radius: 2rem;

}
.btn:hover{
  background-color: #AB094D;
  color: white;
}


.card-body{
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0;
}
.add{
  width: 5rem;
  height: 5rem;
  border-radius: 4rem;
  border-style: none;
  background-color: #AB094D;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  right: 2.5%;
  bottom: 2.5%;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.botellatxt{
  width: 20.1875rem;
  height: 3.875rem;
  flex-shrink: 0;
  color: #000;
  font-family: robotoSlab;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  margin-top: .3rem;
  margin-right: .5rem
}

.btnml{
  width: 5.3125rem;
  height: 2.9375rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.00);
  position: relative;
  left: 1.5rem;
  margin-top: .5rem;
}
.btnml:hover{
  background: #AB094D;
  color: white;
}

.img{
  width: 9.375rem;
  height: 9.375rem;
  flex-shrink: 0;
  position:relative;
  margin-left: 1rem;
  margin-top: .5rem;
  margin-right: .5rem;
}

.textonza{
  color: #535353;
  font-family: ubuntu;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  margin: 0;
  margin-top: 2rem;
}

.onzinput{
  width: 6.3125rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  border: 1px solid #000;
  background: rgba(217, 217, 217, 0.00);
  color: #4B4540;
  font-family: ubuntu;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textos{
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
}
.textnum{
  font-family: robotoSlab;
  font-size: 2rem;
  position: relative;
  margin-left: 6rem;
  margin-top: .5rem;
  color: #000000d0;
}