<div class="bar col-12">
  <button type="button"  class="btn btn-outline-dark col-1">Tequila</button>
  <button type="button"  class="btn btn-outline-dark col-1">Whisky</button>
  <button type="button"  class="btn btn-outline-dark col-1">Ron</button>
  <button type="button"  class="btn btn-outline-dark col-1">Vodka</button>
  <button type="button"  class="btn btn-outline-dark col-1">Ginebra</button>
  <button type="button"  class="btn btn-outline-dark col-1">Brandy</button>
  <button type="button"  class="btn btn-outline-dark col-1">Coñac</button>
  <button type="button"  class="btn btn-outline-dark col-1">Otros</button>


  <div class="card col-4">
    <div class="card-body">
      <div class="row">
        <div class="col-7">
          <p class="botellatxt">Jose Cuervo Tradicional</p>
          <button class="btnml">695ml</button>
          <button class="btnml">950ml</button>
        </div>
        <div class="col-5">
          <img class="img" src="../../../../assets/Imgbotellas/image 2.png" alt="botellon">
        </div>  
        </div>
    </div>
  </div>

  <button class="add" (click)="agregar()">+</button>
</div>

