<div class="principal">
  <div class="header">
    Auditar
    <p class="close-modal" (click)="onlyClose()">X</p>
  </div>
  <div class="body">

    <div class="left col-md-4">
      <div>
        <p class="text">{{botella.Name}}</p>
      </div>
      <div>
        <img [src]="'https://barinspector.com/api/bottle/'+botella.Id+'/getimagen'" alt="" class="img">
        <div><svg id="barcodeBottleAudit"></svg></div>
      </div>
    </div>

    <div class="right col-md-8">
      <div>
        <p class="txt">Peso</p>
      </div>
      <div>
        <input type="text" class="inputweight" [(ngModel)]="pesoObtenido">
        <p>{{cantidadOz}}
        </p>
      </div>
      <div>
        <button class="btn">Botella Vacia</button>
      </div>
      <div style="display: flex;">
        <p class="text">Cant. Botellas</p>
        <input type="number" class="inputbottle" [(ngModel)]="this.barBottle.NumOfBottles">
      </div>
      <div class="botones">
        <button class="btnes" (click)="openDialog()">Siguiente</button>
        <button class="btnes" (click)="closeModal()">Terminar</button>
      </div>
    </div>

  </div>
</div>
