<div class="principal" *ngIf="data.botellaSeleccionada">
  <div class="header">
    Agregar
    <p class="close-modal" (click)="closeModal()">X</p>
  </div>

  <div class="body">

    <div class="left col-md-6">
      <div>
        <p class="text">{{data.botellaSeleccionada.Name}}</p>
      </div>
      <div>
        <img class="img" [src]="'https://barinspector.com/api/bottle/'+data.botellaSeleccionada.Id+'/getimagen'"
          alt="botellon.png">
      </div>
    </div>

    <div class="right col-md-6">

      <div>
        <p class="text">Selecciona el tamaño</p>
      </div>

      <div>
        <button (click)="toggleButton('button1')" [ngClass]="{'active': button1Active}"
          class="custom-button">{{(data.botellaSeleccionada.Presentacion*33.814).toFixed(2)}} oz</button>
      </div>

      <div>
        <label class="peso" for="weightInput">Peso:</label>
        <input class="inputtext" type="number" id="weightInput" [(ngModel)]="heightValue">
        <div style="display: flex; justify-content: space-evenly;">
          <p>Acumulado: {{obtenerOz(data.botellaSeleccionada, pesoAcumulado + heightValue)}} Oz</p>
          <p>Botella Actual: {{obtenerOz(data.botellaSeleccionada, heightValue)}} Oz</p>
        </div>
      </div>

      <div class="buttons">
        <button class="btnmodal" (click)="addBotella()">Botella llena</button>
        <button class="btnmodal" (click)="addPesoBotella()">Pesar botella</button>
        <button class="btnmodal" (click)="agregarConPesoDeBasucula()">Terminar</button>
      </div>

    </div>
  </div>
</div>

<style>
  .buttons{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
    align-items: center;
  }

  .btnmodal{
    width: 45%;
    margin: 2.4%;
  }

</style>
