.sidebar{
  width: 15vw;
  height: 100%;
  position: absolute;
  display: flex;
  margin: 0;
  padding: 0;
}
.top-bar{
  width: 100%;
  height: 5%;
  font-family: ubuntu;
  color: #FFFFFF;
  background-color: #2d1e14;
  position: absolute;
  font-size: xx-large;
  display: flex;
  align-items: center;
}
a{
  font-family: ubuntu;
}
li{
  display: flex;
}
.bottom-bar{
  width: 100%;
  height: 100%;
  background-color: #4B4540;
  position: relative;
  top: 5%;
}
.list{
  list-style-type: none;
  font-family: roboto;
  font-size: 1.375rem;
  color: #FFFFFF;
  padding: 0pc;

}
.items{
  margin-top: 15px;
  cursor: pointer;
}

.slogan{
  font-family: Ingrid Darling;
  font-size: 4rem;
  font-weight: 400;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  top: 9rem;
  line-height: normal;

}
.img{
  width: 15.9375rem;
  height: 8.75rem;
  flex-shrink: 0;
  position: relative;
  left: 0rem;
  top: 9rem;
  
}
