<div class="bar">
  <button type="button" class="btn btn-outline-dark">Tequila</button>
  <button type="button" class="btn btn-outline-dark">Whisky</button>
  <button type="button" class="btn btn-outline-dark">Ron</button>
  <button type="button" class="btn btn-outline-dark">Vodka</button>
  <button type="button" class="btn btn-outline-dark">Ginebra</button>
  <button type="button" class="btn btn-outline-dark">Brandy</button>
  <button type="button" class="btn btn-outline-dark">Coñac</button>
  <button type="button" class="btn btn-outline-dark">Otros</button>


  <div class="card">
    <div class="card-body">

    </div>
  </div>

  <div class="card">
    <div class="card-body">

    </div>
  </div>

  <div class="card">
    <div class="card-body">

    </div>
  </div>

  <div class="card">
    <div class="card-body">

    </div>
  </div>

  <div class="card">
    <div class="card-body">

    </div>
  </div>

  <div class="card">
    <div class="card-body">

    </div>
  </div>

</div>
