<div class="botones">
  <button type="button" class="btn btn-outline-dark" (click)="filterByLiquor('Tequila')" >Tequila</button>
  <button type="button" class="btn btn-outline-dark" (click)="filterByLiquor('Whisky')">Whisky</button>
  <button type="button" class="btn btn-outline-dark" (click)="filterByLiquor('Ron')">Ron</button>
  <button type="button" class="btn btn-outline-dark" (click)="filterByLiquor('Vodka')">Vodka</button>
  <button type="button" class="btn btn-outline-dark" (click)="filterByLiquor('Ginebra')">Ginebra</button>
  <button type="button" class="btn btn-outline-dark" (click)="filterByLiquor('Brandy')">Brandy</button>
  <button type="button" class="btn btn-outline-dark" (click)="filterByLiquor('Coñac')">Coñac</button>
  <button type="button" class="btn btn-outline-dark" (click)="filterByLiquor('Otros')">Otros</button>
</div>  

  <div class="card glass sombra" *ngFor="let bottle of bottles">
    <div class="card-body" (click)="openModal(bottle)">
      <div class="row">
        <div class="col-md-7">
          <p class="botellatxt">{{bottle.Name}}</p>
          <button class="btnml">{{(bottle.Presentacion*33.814).toFixed(2)}} oz</button>
        </div>
        <div class="col-md-5">
          <img class="img" [src]="'https://barinspector.com/api/bottle/'+bottle.Id+'/getimagen'" alt="botellon">
        </div>
      </div>
    </div>
        <button class="edit glass sombra" (click)="edit()"><i class="pi pi-pencil"></i></button>

  </div>

  



  <!-- <p class="botellatxt">{{bottle.Name}}</p>
          <button class="btnml">{{bottle.Presentacion}}</button> -->
          <!-- <img class="img" [src]="'https://barinspector.com/api/bottle/'+bottle.Id+'/getimagen'" alt="botellon"> -->